@page "/"

<PageTitle>Index</PageTitle>

<h1>Kuka Robot Asset Administration Shell Monitor</h1>

Simple monitor app showing the operational graph of the Asset Administration shell of a Kuka robot

<img src="./AASType2demo.png"/>
