@page "/properties"

<PageTitle>Properties</PageTitle>

@using AASMonitor.Data
@inject ADTAASRepoService ADTService

<h1>Kuka Robot State monitor</h1>

Showing values from Azure Digital Twins instance @ADTService.ADTEndpoint()

<p>Current count: @currentCount (latest update from @DateTime.Now)</p>

<table class="table">
    <thead>
        <tr>
            <th>Property name</th>
            <th>Last value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aProp in ADTAASRepoService.tagNames)
        {
            <tr>
                <td>@aProp</td>
                <td>@ADTService.LastValueFor(@aProp)</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private int currentCount = 0;
    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        await ADTService.UpdateLatestValues();

        var timer = new System.Threading.Timer((_) =>
        {
            InvokeAsync( async ()  =>
            {
               // Add your update logic here
               IncrementCount();
               // Update the UI
               StateHasChanged();
            });
        }, null, 0, 1000);
    }
}

